

.row{
    color: antiquewhite;
}

.card-text{
    color: gray;
}

.card-title{
    color: black;
}


    hr {
        height: 2px;
        border: 5px solid blue;
    }

    .card img {
        
        padding: 0.25rem;
        background-color: var(--body-bg, #fff); /* fallback #fff */
        border-width: var(--border-width, 1px);
        border-color: var(--border-color, #bf7979);
        border-radius: var(--border-radius, 5px);
        box-shadow: var(--box-shadow-sm, 0 2px 5px rgba(0, 0, 0, 0.1));
    }
    

.container nav-link{
    background-color: #bf7979;
}

.card-card{
    background-image: url(image/dog);
}
    

